# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Next.js
.next/
out/
build/
dist/
dist-ssr/

# Production
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env*
!.env.example

# Typescript
*.tsbuildinfo

# Sanity Studio
studio/

# Replit
.replit
replit.md

# Netlify
netlify.toml
